body {
    background-color: #dad7cd;
    background-image:url(../img/The-Chosen-card_autor.webp);

}


header {
    background-color: #6c584c;
    padding: 3%;
}

/* classe atribuída para a div que vai receber o logotipo */
div {
    background-color: #a98467;
    
}

.logo {
    width:20%;
    margin-bottom: 0.5%;
    margin-left: 1%;
}

nav {
    background-color: #fdf0d5;
}

main {
    background-color: #dad7cd;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section {
    background-color: #fdf0d5;
    padding: 3%;
    position: relative;

}

.section_meio {
    background-color: #adc178;
}

footer {
    background-color: #adc178;
    padding: 3%;
}

.cabecalho {
    padding: 3%;
}

.rodape {

    padding: 3%;
}

.titulos {
    line-height: 3;
    text-align: center;
    font-weight: bold;
  
}

p {
    line-height: 1.5;
    font-size: 1.2em;
    padding: 0.5%;
}

ul li {
    line-height: 1.5;
    font-size: 1.2em;
}

h1 {
    font-size: 2em;
}

h2 {
    font: size 1.Sen;
}

table {
    border-collapse: collapse;
    width: 90%;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

td,
th {
    border: 5px dashed #780000;
    padding: 1.5%;
    width: 26.66%;
}

/* essa faz uma linha cor sim cor não */
tr:nth-child(even) {
    background-color: #fdf0d5;
}

.foto {
    width: 20%;
    margin-right: 1%;
    border-radius: 15px;
    
}

.fotos {
    width: 33%;
}

.linha {
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}

.col-3 {
    width: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.col {
    width: calc(50% - 20px);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    display: flex;
    align-items: center;
}

legend{
    margin-left: 5%;
    text-align: left;
    line-height: 170%;
    font-weight: bolder;
}


.imggaleria {
    width: 90%;
    box-shadow: 3px 3px 10px;
    
}

.person {
    width: 50%;
    box-shadow: 3px 3px 10px;
    float: left;
}


.col-3 legend {
    font-size: 1rem;
    text-align: center;
}

table, td {
    text-align: center;
}

.info{
    font-size: 25px;
    text-align: center;
}

table {
    page-break-inside: auto;
    width: 100%;
}
  
tr {
    page-break-inside: avoid;
    page-break-after: auto
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#adc178;
}
  
.menu1 {
    float: left;
}
  
.menu1 a {
    display: block;
    
    text-align: center;
    padding: 5px 30px;
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: rgb(0, 0, 0);
}
  
/* visited link */
a:visited {
    color: rgb(0, 0, 0);
}
 
/* mouse over link */
a:hover { 
    background-color:#526e06;
    color: rgb(0, 0, 0);        
}
     
/* selected link */
a:active {
    color: rgb(0, 0, 0);
}
    
.autor{
    float: left;
    margin-right: 1.5%;
    width: 20%;    
    box-shadow: 3px 3px 12px;
}

.pg{
        text-align: center;
}
  

.caixa {
    box-shadow: 2px 2px 10px;
    line-height: 2;
    text-align: center;
    font-weight: bold;
  
}

.border {
    border-style: solid;
    border-width: 5px;
  }

.cards{
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
    background-color: #fdf0d5;
}

.card{
    width: 80% ;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #a98467 ;
    display: flex;
    margin-left: 10%;
    border-radius: 15px;
    box-shadow: 3px 3px 10px;

 
}

@media screen  and (max-width: 768px) {
    .card{
        width: calc(50%-20px);
    }
}

@media screen  and (max-width: 480px){
    .card{
        width: calc(100%-20px);
    }
    
}
  
.logoinsta{
    width: 5%;
    margin-left: 10%;
    float: left;
    margin-right: 3%;
    margin-bottom: 1%;
}

.app{
    width: 10%;
    margin-left: 10%;
    margin-right: 3%;
}
.card_autor{
  
    height: 50%;
    opacity: 0.4;
    border-radius: 15px;
    box-sizing: border-box;

    width: 100% ;

    padding: 20px;
   
    display: flex;
   
    border-radius: 15px;
    box-shadow: 3px 3px 10px;
}
.container {
    position: relative;
    background-color: #fdf0d5;
    border-radius: 15px;
    box-shadow: 3px 3px 10px;
  }
  
  .bottomright {
    position: absolute;
    background-color: #dad7cd;
    
  
    bottom: 8px;
    right: 16px;
    font-size: 18px;

  }
 .teste{
    width: 100%;
  height: 50%;
  opacity: 0.4;
  border-radius: 15px;
  background-color: #fdf0d5
  
}
.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
.top-left-text{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    background-color: #dad7cd
}
.centered-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dad7cd
}
 
.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    background-color: #dad7cd
  }

.quiz{
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 1px 1px 10px ;
    padding: 3%;
    text-align: center;
}

.quiz1{
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 1px 1px 10px ;
    padding: 3%;
    align-items: center;
    width: 30%;
    margin-left: 17%;
    margin-right: 5%;
    margin-top: 3%;
    float: left;
    margin-bottom: 3%;
}
.quiz2{
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 1px 1px 10px ;
    padding: 3%;
    align-items: center;
    width: 28%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.quiz3{
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 1px 1px 10px ;
    padding: 3%;
    align-items: center;
    width: 30%;
    margin-left: 17%;
    margin-right: 5%;
    margin-top: 3%;
    float: left;
}
.quiz4{
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 1px 1px 10px ;
    padding: 3%;
    align-items: center;
    width: 28%;
   
    margin-top: 3%;
}










 /*
  background-image: url(../img/The-Chosen-Jesus-e-Discipulos-VidAngel-Studios.jpg);