body{
    background-color: #dad7cd;
    background-image:url(../img/The-Chosen-Jesus-e-Discipulos-VidAngel-Studios.jpg) ;
}
header{
    background-color:#6c584c;
    padding: 3%;
}

/* classe atribuída para a div que vai receber o logotipo */


div{
    background-color: #a98467;   
}
.logo{
    width: 20%;
}

nav{ 
    background-color:#fdf0d5 ;
}

main{
    background-color: #dad7cd;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color:#fdf0d5  ;
    padding: 3%;

}
.section_meio{
    background-color:#adc178;
}

footer{
    background-color:#adc178;
    padding: 3%;
}

.cabecalho{
    padding: 3%;
}

.rodape{

    padding: 3%;
}

.titulos{
    line-height: 3;
    text-align:center ;
    font-weight: bold;
}

p{
    line-height: 1.5;
    font-size: 1.2em;
    padding: 0.5%;
}

ul li{
    line-height: 1.5;
    font-size: 1.2em;
}

h1{
    font-size: 2em;
}

h2{
    font: size 1.Sen; ;
}

table{
    border-collapse: collapse;
    width: 90%;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    
}

td,th{
    border: 5px dashed #780000;
    padding: 1.5%;
    width: 26.66%;
    
    
}


/* essa faz uma linha cor sim cor não */
tr:nth-child(even) {
    background-color: #fdf0d5;
}

.foto{
    width: 100%;
    
    
}

.fotos{
    width: 33%;

}

.info{
}